<!-- BEGIN: Header-->
<nav class="header-navbar navbar-expand-lg navbar navbar-fixed align-items-center navbar-shadow navbar-brand-center" data-nav="brand-center">

  <div class="navbar-container d-flex justify-content-between">
    <div class="bookmark-wrapper d-flex align-items-center bg-whit me-auto">

      <div>
        <a href="<%= site_ranking_index_path %>" class="btn btn-primary">
          <i data-feather='bar-chart'></i> Rankings
        </a>
      </div>

    </div>

    <a class="navbar-brand m-0" href="/">
      M6 Link
    </a>

    <ul class="nav navbar-nav align-items-center ms-auto" style="width: 181px;">




      <!-- this causes some issues, it doesn't switch well here -->
      <!--
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link nav-link-style">
          <i class="ficon" data-feather="moon"></i>
        </a>
      </li>
      -->
    </ul>

  </div>
</nav>
<!-- END: Header-->
