<% cache do %>

<div class="container-lg">

  <h1 class="text-center mb-3 display-4">
    M6 Link Shortener
  </h1>

  <div class="card">
    <div class="card-body">

      <p>
        Generate a shortened link.
      </p>

      <form id="shortlink-form">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

        <div class="input-group">
          <input type="text" class="form-control" name="create[url]" id="create-url" placeholder="https://www.google.com" aria-describedby="shortlink-form-submit">
          <button type="button" class="btn btn-success waves-effect" id="shortlink-form-submit" onclick="indexPage.submitShortlink()">
            Go
          </button>
        </div>

      </form>

    </div>
  </div>

</div>

<script defer>
  indexPage = {
      submitShortlink: function () {
          const formURL = $('#create-url').val();

          if (!(/^(?:([A-Za-z]+):)?(\/{0,3})([0-9.\-A-Za-z]+)(?::(\d+))?(?:\/([^?#]*))?(?:\?([^#]*))?(?:#(.*))?$/.test(formURL))) {
              createToast('Invalid URL', '', 'error');
              return;
          }


          let form = document.getElementById('shortlink-form');
          let url = '<%= site_create_shortlink_path %>';
          let formData = new FormData(form);

          let postForm = $.ajax({
              url: url,
              data: formData,
              cache: false,
              processData: false,
              contentType: false,
              type: 'POST',
              success: function (data) {
                  createToast('Success', data.info, '');
              }
          });

          postForm.fail(function (data) {
              if (data.responseJSON === undefined) {
                  createToast('', 'Unknown Error', 'error');
              } else {
                  createToast('', data.responseJSON.info, 'error');
              }
          });
      }
  }
</script>

<% end %>